html {
  font-size: 14px;
}
body {
  padding-top: 56px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.order-details {
  display: flex;
  justify-content: space-between;
}

.order-details-shipping {
  width: 20vw;
}

.order-details-shipping dt{
  width: 10vw;
}

.col-sm-2, .col-sm-10 {
  flex: none !important;
  max-width: 100% !important;
}

.order-details-shipping dd{
  width: 10vw;
}

.order-details-items {
  width: 30vw;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}